.pie-report {
  display: flex;
  flex-flow: column;
  align-content: center;
  height: 100%;
}

.pie-report-container {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.pie-report-header {
    display: flex;
    padding: 5px 10px;
    background: var(--b5);
    color: white;
    text-align: left;
    margin-bottom: 5px;
}

.pie-chart-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 2px;
}

.pie-report-content {
  display: flex;
  flex: 1;
  align-content: center;
  padding: 10px;
}