.dashboard-container {
  overflow: hidden;
  height: 100%;
}

.form-bar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  width: 100%;
  background-color: var(--b2);
}

.form-bar-button {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 2em;
  color: white;
  cursor: pointer;
  position: relative;
}

.form-bar-button:last-child {
  border-right: none
}

.form-bar-button-wide {
  flex: 2 0 0;
}

.form-bar-button:hover {
  background-color: var(--b5);
}

.dashboard-window {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  min-width: 300px;
  overflow-y: scroll;
  padding: 10px 20px;
}

/* styles to handle entry-form overlays */
.entry-form-mount {
  position: absolute;
  top: 48px;
}

.entry-form-left {
  left: 0;
}

.entry-form-right {
  right: 0;
}

@media(max-width: 575px) {
  .report-tile {
    width: 100%;
    max-height: 400px;
    min-height: 300px;
    margin-bottom: 10px;
  }

  .report-tile-wide {
    width: 100%;
  }

  .entry-form-mount {
    position: fixed;
    top: 96px;
    left: 0;
    bottom: 48px;
    overflow-y: scroll;
  }

  .entry-form-left {
    left: 0;
  }

  .entry-form-right {
    left: 0;
  }
}

@media(min-width: 576px) {
  .report-tile {
    flex: 1;
    width: 400px;
    min-width: 300px;
    min-height: 300px;
    max-width: 600px;
    max-height: 400px;
    margin: 10px;
  }

  .report-tile-wide {
    flex: 1;
    max-width: 900px;
    width: 800px;
    min-width: 400px;
  }
}
