.settings-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.settings-header {
  font-size: 1.5em;
  color: var(--b5);
  flex: 0 0 48px;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
}

.settings-window {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px;
}

.config-container {
  min-width: 300px;
  max-width: 500px;
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

@media(max-width: 575px) {
  .config-container {
    width: 100%;
  }
}

.config-header {
  font-size: 1.2em;
  flex: 0 0 auto;
  background-color: var(--b5);
  color: white;
  padding: 5px;
}

.config-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.config-list {
  padding: 5px;
  flex: 1;
}

.config-list-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid var(--b1);
}

.config-list-item:last-child {
  border: none;
}

.config-list-item-inactive {
  color: var(--r3);
}

.config-list-item-inactive .config-list-item-name {
  text-decoration: line-through;
  font-style: italic;
}

.config-list-item .close {
  font-size: 1.3em;
  color: var(--r4);
  padding: 0 10px;
}

.config-list-new-item {
  padding: 10px;
}

.config-list-new-item .form-control {
  padding: .3em .5em;
  border-radius: 0;
  color: var(--b5);
}

.config-list-new-item .btn {
  padding: .3em .5em;
  border-radius: 0;
  color: var(--b5);
  background-color: white;
}

.config-submit {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.config-submit .btn {
  background: linear-gradient(var(--b2), var(--b3));
  color: white;
  border: none;
}

.config-submit .btn:hover {
  background: linear-gradient(var(--b3), var(--b4));
}



.config-list-new-item ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--b3);
}
.config-list-new-item ::-moz-placeholder { /* Firefox 19+ */
  color: var(--b3);
}
.config-list-new-item :-ms-input-placeholder { /* IE 10+ */
  color: var(--b3);
}
.config-list-new-item :-moz-placeholder { /* Firefox 18- */
  color: var(--b3);
}
