#app, .app-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* heart-pulse  hotel   */

.app-header {
  height: 48px;
  background-color: var(--b4);
  color: white;
  display: flex;
  align-items: center;
}

.app-header-title {
  padding-left: 20px;
}

.app-header-title span {
  font-family: sans-serif;
  font-size: 1.5em;
  font-style: italic;
}

.app-full-window {
  height: 100%;
  display: flex;
}

.app-sidebar {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
}

.sidebar-entry {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--b4);
  border-right: 2px solid var(--b4);
  width: 50px;
  min-height: 30px;
  flex: 0 1 75px;
  color: var(--b5);
}

.sidebar-entry:hover {
  background-color: var(--y1);
}

.sidebar-entry i {
  font-size: 2em;
  cursor: pointer;
}

.app-main-window {
  flex: 1;
  min-width: 300px;
  height: 100%;
}

.form-bar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  width: 100%;
  background-color: var(--b2);
}

.form-bar-button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 48px;
  min-width: 50px;
  max-width: 150px;
  border-right: 2px solid var(--b5);
  border-left: 2px solid var(--b5);
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.form-bar-button:hover {
  background-color: var(--b1);
}

.dashboard-window {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  min-width: 300px;
  overflow-y: scroll;
  padding: 0 20px;
}

.app-footer {
  display: flex;
  align-items: center;
  background-color: var(--b4);
  height: 48px;
  color: white;
  z-index: 99;
  font-size: .7em;
}

.app-footer-content {
  padding-left: 20px;
}

@media(max-width: 575px) {

  .app-full-window {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .app-main-window {
    min-height: 0;
  }

  .report-tile {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
  }

  .report-tile-wide {
    width: 100%;
  }

  .app-sidebar {
    order: 99;
    flex: 0 0 64px;
    z-index: 99;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--b4);
  }

  .sidebar-entry {
    flex: 1 0 auto;
    border-bottom: none;
    border-right: 2px solid var(--b5);
    width: auto;
    color: white;
    height: 64px;
  }

  .sidebar-entry:last-child {
    border-right: none;
  }

  .sidebar-entry.sidebar-active {
    background-color: var(--b1);
    color: var(--b5);
  }

  .app-footer {
    display: none;
  }
}

@media(min-width: 576px) {

  .sidebar-entry:last-child {
    border-bottom: none;
  }

  .sidebar-entry.sidebar-active {
    height: auto;
    flex: 1 1 125px;
    background-color: var(--y2);
  }

  .sidebar-entry.sidebar-active i {
    align-self: flex-start;
    margin-top: 10px;
  }

  .report-tile {
    flex: 1;
    width: 400px;
    min-width: 300px;
    max-width: 600px;
    height: 300px;
    min-height: 300px;
    margin: 10px;
  }

  .report-tile-wide {
    flex: 1;
    max-width: 900px;
    width: 800px;
    min-width: 400px;
  }

}
