.entry-list {
  display: flex;
  flex-flow: column;
  align-content: center;
}

.entry-list-container {
  display: flex;
  flex-flow: column;
}

.entry-list-header {
  display: flex;
  padding: 5px 10px;
  background: var(--b5);
  color: white;
  text-align: left;
  margin-bottom: 5px;
}

.feed-entry-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 2px;
  border-bottom: 1px solid var(--b1);
}

.feed-entry-container:last-child {
  border-bottom: none;
}

.feed-entry-header {
  display: flex;
  flex-flow: row;
  align-items: center;
}


.feed-entry-icon {
  color: grey;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex: 0 1 50px;
}

.feed-entry-content {
  display: flex;
  flex: 0 1 250px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  padding-right: 10px;
}

.feed-entry-time {
  display: flex;
  flex: 0 1 80px;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-size: 0.7em;
  font-style: italic;
  color: grey;
}

.feed-entry-detail-group {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.feed-entry-detail {
  display: flex;
  padding: 2px 10px;
  font-size: 0.8em;
  color: var(--mc1);
}

.feed-entry-detail .rating-element {
    margin: 0 2px;
    min-width: 20px;
    min-height: 20px;
}

.feed-entry-tag {
  font-size: 0.8em;
  padding: 2px 5px;
  margin: 0 5px;
  border: 1px solid grey;
  border-radius: 3px;
}