.form-wrapper {
  background-color: #eee;
  padding: 10px;
  max-width: 450px;
  border-radius: 10px;
}

.form-wrapper form {
  padding: 20px 20px 0 20px;
}

.form-header {
  font-size: 1.4em;
  color: var(--b5);
}

.form-header button {
  color: var(--b3);
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
}

.form-label {
  font-size: 1.1em;
  color: #777;
  margin: 0 10px 0 0;
}

.form-group .rating-wrapper {
  flex: 1;
  justify-content: flex-end;
}

.form-multiselect {
  margin-bottom: 20px;
}

.form-submit-section {
  margin: 20px 0 5px 0;
}

.form-submit-section button {
  background-color: var(--b5);
  color: white;
}
